env

# ignore the secrets file
config/secrets.yaml
data
.dvc
src.egg-info
src/utils/__pycache__/all_utils.cpython-310.pyc
src/utils/__pycache__/__init__.cpython-310.pyc
src/__pycache__/__init__.cpython-310.pyc
